NODE_NAME=n43
NODE_IP=43.255.122.4
ETCD_INITIAL_CLUSTER=n43=https://43.255.122.4:2380,n156=https://156.225.27.154:2380,relay=https://103.231.58.53:2380
# "new" only when the whole cluster is created; "existing" when a member is
# re-added after `etcdctl member add`.
ETCD_INITIAL_STATE=new
